$bp-xxl: 1400px;
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;

$color-light-white: #f5f5f5;
$color-blue: #0057ff;
$color-light-grey: #dce0e5;
$color-dark: #1b1e21;
$color-orange: orangered;
$color-grey: #6c757d;