@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap&subset=cyrillic');

/* Reset */
a{
    color: inherit;
}
a:hover{
    color: red;
    text-decoration: none;
}

/* Custom */
.text-red{color: red;}
.text-shadow{text-shadow: 2px 2px 5px black;}

.app-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.app-ff--alt{font-family: 'Montserrat', sans-serif}
.app-gradient{
    background-image: linear-gradient(0deg, #232eff, #566eff);
}
.app-bg--white80{
    background-color: rgba(255,255,255,0.8);
}
.app-bg--black60{
    background-color: rgba(0,0,0,0.6);
}
.app-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.app-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.header{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(0deg, #002dc9, #2f47dc);
}
@media (min-width: 768px) {
    .header{
        font-size: 3rem;
    }
}

.countdown-week{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
@media (min-width: 1000px) {
    .countdown-week{
        font-size: 2rem;
    }
}

/* nav */
#section-nav{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 0.2rem 0;
    background-color: white;
    border-bottom: 5px solid #001385;
    z-index: 999;
}
.nav__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
}
.nav__phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* main */
#section-main{
    padding-top: 10rem;
    background: url("../img/main/main_bg.jpg") center no-repeat;
    background-size: cover;
}
.main__form{
    padding: 2rem 1rem;
    background-color: rgba(255,255,255,1);
    border: 5px solid #001385;
    border-radius: 6px;
}
.main__form__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
.main__form__subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
.main__title{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color: #001385;
    background-color: white;
}
.main__subtitle{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    color: blue;
    background-color: white;
}

@media (min-width: 768px) {
    .main__title{
        font-size: 3.5rem;
    }
    .main__subtitle{
        font-size: 2.5rem;
    }
}

/* other */
.transition--slide {
    position: relative;
    overflow: hidden;
}
.transition--slide::before {
    margin-left: 60px;
    content: " ";
    width: 30px;
    height: 300px;
    background: #ffffff80;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    animation-name: slideme;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform: rotate(45deg);
}
@keyframes slideme {
    0% {
        left: -30px;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

.hero-hexagons {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}